<div id="<%= dom_id message %>" class="list-group-item py-3">
  <div class="d-flex justify-content-between mb-2">
    <strong class="text-nowrap text-secondary">
      <%= message.author.name %>
    </strong>

    <div class="d-flex align-items-center gap-3">
      <% if policy(message).edit? %>
        <%= link_to edit_chat_message_path(message.chat, message), class: "link-secondary text-decoration-none", title: "Edit", data: { turbo_stream: true } do %>
          <i class="fa-regular fa-pen-to-square"></i>
        <% end %>

        <%= link_to chat_message_path(message.chat, message), class: "link-secondary text-decoration-none", title: "Delete", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
          <i class="fa-regular fa-trash-can"></i>
        <% end %>
      <% end %>

      <small class="text-muted">
        <%= message.created_at.strftime("%l:%M%p").strip.downcase %>
      </small>
    </div>
  </div>
  
  <div class="message-content">
    <%= markdown_render(message.content) %>
  </div>
</div>
