<% if chat_user.user == current_user %>
  <%= link_to edit_user_path(current_user), class: "list-group-item list-group-item-action list-group-item-primary" do %>
    <div class="d-flex align-items-center">
      <div class="flex-grow-1">
        <h6 class="mb-0"><%= chat_user.user.name %> (<%= current_user.preferred_language.you %>)</h6>
        <small class="text-muted">
          <%= chat_user.user.preferred_language.to_display %>
        </small>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="list-group-item">
    <div class="d-flex align-items-center">
      <div class="flex-grow-1">
        <h6 class="mb-0"><%= chat_user.user.name %></h6>
        <small class="text-muted">
          <%= chat_user.user.preferred_language.to_display %>
        </small>
      </div>
    </div>
  </div>
<% end %>