<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-4">
    <%= form.label :preferred_language_id, "Preferred Language", class: "form-label" %>
    <%= form.collection_select :preferred_language_id, 
                              Language.all.order(:name_english), 
                              :id, 
                              :to_display, 
                              {}, 
                              { class: "form-select" } %>
  </div>

  <div class="mb-3">
    <%= form.submit class: "btn btn-outline-success w-100" %>
  </div>
<% end %>
