<div id="<%= dom_id chat %>" class="d-flex justify-content-between w-100 py-3">
  <div class="overflow-hidden">
    <div class="fw-medium mb-1"><%= chat.subject %></div>
    <div class="text-body-secondary text-truncate">
      <% if chat.most_recent_message.present? %>
        <small><%= truncate(chat.most_recent_message.content, length: 100) %></small>
      <% else %>
        <small>No messages yet</small>
      <% end %>
    </div>
  </div>
  <div class="text-body-secondary align-self-start ms-3 text-nowrap">
    <small>
      <% if chat.most_recent_message.present? %>
        <%= smart_timestamp(chat.most_recent_message.created_at) %>
      <% else %>
        <%= smart_timestamp(chat.updated_at) %>
      <% end %>
    </small>
  </div>
</div>
