<% content_for :title, "#{@chat.subject} members | Shinar" %>

<div class="d-hotwire-native-none d-flex align-items-center mb-3">
  <%= link_to chat_path(@chat), class: "btn btn-outline-secondary rounded-circle d-flex justify-content-center align-items-center me-3", style: "width: 40px; height: 40px; padding: 0;" do %>
    <i class="fas fa-arrow-left"></i>
  <% end %>
  <nav aria-label="breadcrumb" class="mb-0 me-auto">
    <ol class="breadcrumb mb-0">
      <li class="breadcrumb-item"><a href="<%= chats_path %>">Chats</a></li>
      <li class="breadcrumb-item"><a href="<%= chat_path(@chat) %>"><%= @chat.subject %></a></li>
      <li class="breadcrumb-item active" aria-current="page">Chat members</li>
    </ol>
  </nav>
</div>

<div class="row">
  <div class="col-md-8 col-lg-9">
    <div class="list-group">
      <div class="list-group-item text-center bg-light text-nowrap">
        <%= pluralize(@chat.chat_users_count, "member") %>
      </div>
      <%= render partial: "chat_users/sidebar_user", collection: @chat_users, as: :chat_user %>
    </div>
  </div>
</div>
