<%= turbo_stream_from @chat %>

<% content_for :title, "#{@chat.subject} | Shinar" %>

<div class="d-flex align-items-center mb-3">
  <div class="d-hotwire-native-none">
    <%= link_to chats_path, class: "btn btn-outline-secondary rounded-circle d-flex justify-content-center align-items-center me-3", style: "width: 40px; height: 40px; padding: 0;" do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
  </div>
  <nav aria-label="breadcrumb" class="mb-0 me-auto d-hotwire-native-none">
    <ol class="breadcrumb mb-0">
      <li class="breadcrumb-item"><a href="<%= chats_path %>">Chats</a></li>
      <li class="breadcrumb-item active" aria-current="page"><%= @chat.subject %></li>
    </ol>
  </nav>
  <div class="d-flex gap-2">
    <%= link_to edit_chat_path(@chat), class: "btn btn-outline-secondary rounded-circle d-flex justify-content-center align-items-center", style: "width: 40px; height: 40px; padding: 0;", data: {
        controller: "bridge--button",
            bridge_title: "Edit",
            bridge_ios_image_name: "square.and.pencil",
            bridge_android_icon_name: "edit"
            } do %>
      <i class="fa-regular fa-pen-to-square"></i>
    <% end %>

    <%= button_to @chat, method: :delete, class: "btn btn-outline-secondary rounded-circle d-flex justify-content-center align-items-center", style: "width: 40px; height: 40px; padding: 0;", data: {
      controller: "bridge--button",
      bridge_title: "Delete",
      bridge_ios_image_name: "trash.circle",
      bridge_android_icon_name: "delete"
    }, form: { data: { turbo_confirm: "Are you sure?" } } do %>
      <i class="fa-regular fa-trash-can"></i>
    <% end %>
  </div>
</div>

<div class="row flex-grow-1 d-flex flex-column flex-md-row">
  <div class="col-12 col-md-4 col-lg-3 order-md-2 mb-3">
    <div class="d-flex gap-3 d-md-none">
      <%= link_to qr_chat_path(@chat), class: "btn btn-outline-success w-100" do %>
        <i class="fas fa-qrcode me-1 fa-fw"></i> QR
      <% end %>
    
      <button class="btn btn-outline-success w-100" data-controller="clipboard" data-clipboard-target="button" data-action="click->clipboard#copy">
        <i class="fas fa-link me-1 fa-fw"></i> Link
      </button>
    
      <%= link_to members_chat_path(@chat), class: "btn btn-outline-success w-100" do %>
        <i class="fas fa-users me-1 fa-fw"></i> <%= @chat.chat_users_count %>
      <% end %>
    </div>
    
    <!-- Desktop: vertical column of buttons -->
    <div class="d-none d-md-flex flex-column gap-3">
      <%= link_to qr_chat_path(@chat), class: "btn btn-outline-success" do %>
        <i class="fas fa-qrcode me-1 fa-fw"></i> QR code
      <% end %>
      
      <button class="btn btn-outline-success" data-controller="clipboard" data-clipboard-target="button" data-action="click->clipboard#copy">
        <i class="fas fa-link me-1 fa-fw"></i> Copy link
      </button>
      
      <%= link_to members_chat_path(@chat), class: "btn btn-outline-success" do %>
        <i class="fas fa-users me-1 fa-fw"></i> <%= pluralize(@chat.chat_users_count, "member") %>
      <% end %>
    </div>
  </div>
  
  <div class="col-12 col-md-8 col-lg-9 order-md-1 d-flex flex-column flex-grow-1">
    <!-- Message container with scrolling - take up all available space -->
    <div class="position-relative flex-grow-1">
      <div id="<%= dom_id_for(@chat, :message_list) %>" class="position-absolute top-0 start-0 bottom-0 end-0 overflow-auto" data-controller="chat">
        <div class="list-group mb-0">
          <% messages_by_day = @chat.messages.order(created_at: :asc).group_by_day(&:created_at) %>
          
          <% if messages_by_day.empty? %>
            <div class="list-group-item text-center bg-light text-nowrap">
              Today
            </div>
          <% else %>
            <% messages_by_day.each do |day, messages| %>
              <div class="list-group-item text-center bg-light text-nowrap">
                <% if day == Date.today %>
                  Today
                <% elsif day == Date.yesterday %>
                  Yesterday
                <% else %>
                  <%= day.strftime("%A, %B %-d, %Y") %>
                <% end %>
              </div>
              <%= render messages %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-12 col-md-8 col-lg-9 pt-1 pb-3">
  <%= render "messages/new_form", chat: @chat %>
</div>
